<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />

<div class="container">
        <select [(ngModel)]="opcionSeleccionadaValue">
            <option [value]='i' *ngFor="let item of this.respuestas  let i = index">
                {{ item.answer }}
            </option>
        </select>        
        <label for="text">¿Pregunta?</label>
        <input type="text" [(ngModel)]="this.respuestas[opcionSeleccionadaValue].answer">
        <label for="response">Respuesta</label>
        <textarea rows="5" style="width: 100%;" [(ngModel)]="this.respuestas[opcionSeleccionadaValue].response"></textarea>
        <label for="options">Opciones</label>
        <!-- <input type="text" [(ngModel)]="this.respuestas[opcionSeleccionadaValue].options"> -->
        <input #tagInput type="text" [ngModel]="respuestas[opcionSeleccionadaValue].options">

        <input #tagInput type="text" [value]="this.respuestas[opcionSeleccionadaValue].options" (add)="handleTagsAdded($event)">
        <label for="myCheckbox">¿Tiene mas opciones?</label>
        <input type="checkbox" [(ngModel)]="this.respuestas[opcionSeleccionadaValue].moreoptions">
        <button class="btn-group btn-group-toggle" (click)="modificar()">Guardar</button>
        
</div>



