<app-navbar></app-navbar>
    <div class="card text-center cardContainer">
      <div class="card-header">
        ITB Chat
      </div>
      <div class="card-body msj-container h-100" #listamsj>
        <div>
          <p style="white-space: pre-wrap;" *ngFor="let mensaje of todosLosMensajes" [ngClass]="(mensaje.id == 'user') ? 'enviado' : 'recibido'">            
            <ng-container *ngIf="mensaje.respuesta.options;">
              <div *ngFor="let options of this.options">
                <button>{{options}}</button>
              </div>
            </ng-container>
            <button>ODIAR A ADRIAN</button>
            {{mensaje.respuesta.response}}
            <span class="time">
              {{mensaje.hora}}
            </span>
          </p>
        </div>
      </div>
      <form class="card-footer text-muted input-group" (ngSubmit)="getData()">
        <div>
          
        </div>
        <input class="form-control" type="text" [(ngModel)]="msj" [ngModelOptions]="{standalone: true}"
          placeholder="ingresar mensaje">
        <div class="input-group-text" id="basic-addon2" (click)="getData()">
          <span>
            <img src="https://cdn.icon-icons.com/icons2/1875/PNG/512/send_120237.png" alt="enviar" width="10px">
          </span>
        </div>
      </form>
    </div>
