/* login.component.css */
.login-container {
    width: 300px;
    margin: 0 auto;
    border-radius: 5px;
}

.text-center {
    text-align: center;
}

.mt-3 {
    margin-top: 15px;
    /* Ajusta este valor para el espacio deseado */
}

/* login.component.css */
.custom-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: darkblue;
}