<body class="bg-light">
  <app-navbar></app-navbar>
  <div class="container">
    <main>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Description</th>
            <th scope="col">Duration</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let carrera of carreras">
            <td>{{carrera.descripcion}}</td>
            <td>{{carrera.duracion}}</td>
            <td>
              <button (click)="editarCarrera(carrera.id)" class="btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff" width="24px" height="24px">
                  <path d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M19.71 5.04a3.973 3.973 0 0 0-5.65 0L2 17.25V22h4.75L19.71 9.71a3.973 3.973 0 0 0 0-5.67zm-1.42 4.25L8.54 19H6v-2.54L17.29 8.29a2.007 2.007 0 0 1 2.83 2.83z" />
                </svg>
              </button>
              <button (click)="borrar(carrera.id)" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff" width="24px" height="24px">
                  <path d="M0 0h24v24H0z" fill="none" />
                  <path d="M19 6h-4L11.5 4h-3L5 6H1v2h18V6zm-3 2H4V20h12V8z" />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-success" (click)="agregarCarrera()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="#fff" d="M20 11H13V4h-2v7H4v2h7v7h2v-7h7z" />
        </svg>
        Agregar Carrera
      </button>

      <div class="card mt-4" *ngIf="mostrar">
        <div class="card-body">
          <h4 class="card-title">Carga Carreras</h4>
          <form class="p-5 needs-validation" novalidate>
            <div class="mb-3">
              <label class="form-label">Descripcion</label>
              <input [(ngModel)]="addCarrera.descripcion" type="text" class="form-control" placeholder="" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Duracion</label>
              <input [(ngModel)]="addCarrera.duracion" type="text" class="form-control" placeholder="" required>
            </div>
            <button class="btn btn-primary" (click)="postDatos()" type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff" width="24px" height="24px">
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M19.71 5.04a3.973 3.973 0 0 0-5.65 0L2 17.25V22h4.75L19.71 9.71a3.973 3.973 0 0 0 0-5.67zm-1.42 4.25L8.54 19H6v-2.54L17.29 8.29a2.007 2.007 0 0 1 2.83 2.83z" />
              </svg>
              Guardar
            </button>
          </form>
        </div>
      </div>
    </main>
  </div>
</body>
