<div>
  <div>
    <a class="mt-4 btn btn-primary" routerLink="/user">USUARIOS</a>
  </div>
  <div>
    <a class="mt-4 btn btn-primary" routerLink="/chat">CHAT</a>

  </div>
  <div>
    <a class="mt-4 btn btn-primary" routerLink="/userlist">TODOS LOS USUARIOS</a>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">nombre</th>
      <th scope="col">password segurisimo</th>
      <th scope="col">telefono</th>
      <th scope="col">email</th>
      <th scope="col">nombre completo</th>
      <th scope="col"> Accion </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of this.users">
      <th>{{user.id}}</th>
      <th>{{user.name}}</th>
      <th>{{user.password}}</th>
      <th>{{user.email}}</th>
      <th>{{user.phone}}</th>
      <th>{{user.full_name}}</th>
      <th>
        <button (click)="editUser(user.id)" class="btn-warning">E</button>
        <button (click)="deleteUser(user.id)" class="bt-primary">D</button>
      </th>

    </tr>
  </tbody>
</table>


